.tm-select {
    position: relative;
}
.tm-select__selected {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.tm-select__selected p {
    width: 100%;
    margin: 0 16px 0 0;
}
.tm-select__arrow {
    width: 20px;
    height: 20px;
    background-image: url("./imgs/arrow.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.tm-select__options {
    background-color: #FFFFFF;
    border: 1px solid #BFBFBF;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 20px;
    display: none;
}
.tm-select__options.show {
    display: flex;
}
.tm-select__options a {
    width: 100%;
    padding: 10px 10px 0 10px;
    cursor: pointer;
}
.tm-select__options a:last-child {
    padding: 10px;
}